*{ margin:0; padding:0; line-height:100%;}
ul li, ol li{ list-style:none;}
a{ text-decoration:none; }
b,strong,h1,h2,h3,h4,h5,h6{ font-weight:normal; }
em,i{ font-style:normal;}
img{ vertical-align:top; border:none 0;}
/*清除浮动的方法*/
.clearfix:after{ content:''; display:block; clear:both;}
.clearfix{ zoom:1;}

body a{ font-size:12px;font-family:'微软雅黑','宋体',Arial,sans-serif; color:#666;}
a{ text-decoration:none; color:#666666; }
body {font-family:'微软雅黑';}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;}
a:hover{color:#c81623;}
.orange-color{color:#ff4400;}


	

 